<div class="support-container">
  <div class="sup-ukr-header">
    <p class="sup-ukr-text">Support Ukraine</p>
    <!-- <img src="" alt="" /> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">01</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">02</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">03</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">04</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">05</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">06</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">07</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">08</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <div class="support-company">
    <p class="sup-comp-numb">09</p>
    <!-- <a href=""><img src="" alt="" /></a> -->
  </div>
  <button type="button" class="sup-ukr-scroll-btn">
    <!-- <img src="" alt="" /> -->
  </button>
</div>
