<div class="support-container">
  <div class="sup-ukr-header">
    <p class="sup-ukr-text">Support Ukraine</p>
    <svg class="sup-ukr-gerb" width="20" height="32">
      <use href="./images/sprite.svg#icon-ukr-gerb-svg"></use>
    </svg>
  </div>
  <ul class="sup-content-wrp"></ul>
  <div class="btn-wrapper">
    <button type="button" class="sup-ukr-scroll-btn">
      <svg class="sub-btn-svg">
        <use
          class="sup-svg-use"
          href="/src/images/sprite.svg#icon-arr-dwn-svg"
        ></use>
      </svg>
    </button>
  </div>
</div>
