<div class="authorization-backdrop is-hidden">
  <div class="authorization-modal">
    <button class="modal-close-btn" type="button">
      <svg class="x-close" width="12" height="12">
        <use href="./images/sprite.svg#x-close"></use>
      </svg>
    </button>
    <form class="authorization-form" autocomplete="on">
      <input
        class="authorization-input"
        type="name"
        name="name"
        placeholder="Name"
        autofocus
      />
      <input
        class="authorization-input"
        type="email"
        name="email"
        placeholder="Email"
      />
      <svg class="input-img-mail" width="28" height="28">
        <use href="./images/sprite.svg#mail"></use>
      </svg>
      <input
        class="authorization-input"
        type="password"
        name="password"
        placeholder="Password"
      />
      <svg class="input-img-pass" width="28" height="28">
        <use href="./images/sprite.svg#lock"></use>
      </svg>
      <button class="authorization-form-submit" type="submit">Sing up</button>
    </form>
    <div class="authorization-btn">
      <button class="authorization-btn-up authorization-btn-active" type="button">sing up</button>
      <button class="authorization-btn-in" type="button">sing in</button>
    </div>
  </div>
</div>
