<div class="container modal" id="modal">
  <div class="modal-content">
    <button class="modal-btn" type="button" onclick="closeModal()">
      <svg class="modal-icon-close" width="14" height="14">
        <use href="./images/sprite.svg#x-close"></use>
      </svg>
    </button>

    <button class="btn login-btn login-modal" type="button">
      Sign up<svg class="arrow-right" width="20" height="20">
        <use href="./images/sprite.svg#arrow-right"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="list header-nav-list">
        <li class="header-nav-item">
          <a class="header-nav-link current" href="./index.html">HOME</a>
        </li>
        <li class="header-nav-item">
          <a
            class="header-nav-link shopping-list-header"
            href="./shopping-list.html"
            >SHOPPING LIST
            <svg сlass="cart" width="20" height="20">
              <use href="./images/sprite.svg#uil_cart"></use></svg
          ></a>
        </li>
      </ul>
    </nav>


  </div>
</div>
